<div id="about" class="container container-fade">
  <div class="container container-inside-light">
      <!-- Title -->
      <h2 class="text-center text-uppercase mb-5">About Me</h2>
      <hr />
      <!-- Instroduction -->
      <div class="col-lg-8 row">
          <div class="col-lg-11">
              <br />
              <h2 class="mb-4"><strong>Hello, My name is Minseok Choi.</strong></h2>
              <h5 class="mb-3">I'm a Software Engineering Technology Student at Centennial College in Toronto,
                  Ontario. I will be graduating in April 2019.</h5>
              <h5 class="mb-3">I have an interest in web and mobile app development.
                  I have keen eyes for web designs and spend efforts on efficient and clean code.
                  I like to learn new technologies and enjoy challenges.</h5>
              <h5 class="mb-3"> My main languages are C# and Java.
                  I use ASP.Net, Node.js for Web and API development, and Android Studio for Android Mobile App
                  development. I have been used to handle RDBMS such as Microsoft SQL Server, Oracle, and MySQL.
              </h5>
              <h5 class="mb-3"> If you want to see my details, please refer to the following resume file.</h5>
          </div>
          <!-- Profile Image -->
          <div class="col-lg-1">
              <img alt="" class="img-profil-about" src="./assets/images/profil.jpg"></div>
          <hr>
      </div>

      <!-- Resume Download Button -->
      <div class="text-center">
          <a class="btn btn-primary btn-xl center" href="assets/files/Resume_MinseokChoi.pdf" download>
              Download Resume</a>
      </div>
  </div>
</div>
