<!-- Express Portfolio-->
<!-- File Name: error.ejs-->
<!-- Author: Minseok Choi-->
<!-- StudentID: 300917184-->
<!-- Date: 02/16/2019-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
