<!-- Express Portfolio-->
<!-- File Name: projects.ejs-->
<!-- Author: Minseok Choi-->
<!-- StudentID: 300917184-->
<!-- Date: 02/16/2019-->

<% include ./partials/header.ejs %>
<div id="about" class="container container-fade">
    <div class="container container-inside-light">
        <!-- Title -->
        <h2 class="text-center text-uppercase mb-5">Projects</h2>
        <hr class="mb-5 mt-5" />
        <!-- Projects List -->
        <!-- Project 1 -->
        <div class="col-lg-12 row">
            <div class="col-lg-6">
                <a class="portfolio-box" href="../Assets/images/movie_maniac_1.jpg">
                    <img alt="" class="portfolio-box img-fluid" src="../Assets/images/movie_maniac_1.jpg">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="text-faded">Zoom in </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6">
                <h3><strong>Movie Maniac</strong></h3>
                <h4>Membership Movie Rent Web App</h4>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;MovieManiac is a Web Application to rent movies to its members. And the
                    members renting the movies
                    can watch the movies for a fixed period and they can return the movies back. When the movies are
                    rented, the movies’ status switches to ‘Rented’, and it’s not available to rent to other members.
                    The member can manage the movies they rented, and search movies up to their preferences.
                </p>
                <strong>Technologies Used: </strong>
                <p>
                    ASP.NET Framework, SQL Server, LINQ, Bootstrap, CSS 3, HTML 5
                </p>
                <a href="https://github.com/ProNovice/MovieManiac-MovieRentalWebsite">
                    <img class="icon-small" src="../Assets/images/icon_github.jpg" alt="github link">
                </a>
            </div>
        </div>
        <hr class="mb-5 mt-5" />

        <!-- Project 2 -->
        <div class="col-lg-12 row">
            <div class="col-lg-6">
                <h3><strong>Puckager</strong></h3>
                <h4>Minor League Recruits Management & Scouting Web App for Hockey Coaches</h4>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Puckager is a Web Application to help Hockey Minor League’s coaches and
                    scouters to look for potential or competitive recruiters. The recuirters are managed by team unit,
                    and whenever their matches are done, their coaches or the scouters who watched them can document,
                    rate and upload the players game. And the coach can manage the scouting reports whenever they want.
                </p>
                <strong>Technologies Used: </strong>
                <p>
                    ASP.NET Framework, LINQ, Bootstrap, CSS 3, HTML 5, Azure SQL Server, Azure Web Hosting
                </p>
                <a href="https://github.com/ProNovice/Comp229-Assign03">
                    <img class="icon-small" src="../Assets/images/icon_github.jpg" alt="github link">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-box" href="../Assets/images/puckager_1.jpg">
                    <img alt="" class="portfolio-box img-fluid" src="../Assets/images/puckager_1.jpg">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="text-faded">Zoom in </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <hr class="mb-5 mt-5" />

        <!-- Project 3 -->
        <div class="col-lg-12 row">
            <div class="col-lg-6">
                <a class="portfolio-box" href="../Assets/images/wrath_of_kings_1.jpg">
                    <img alt="" class="portfolio-box img-fluid" src="../Assets/images/wrath_of_kings_1.jpg">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="text-faded">Zoom in </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6">
                <h3><strong>Wrath of Kings</strong></h3>
                <h4>Game Units Information Website</h4>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;This Web Site is made for sharing the information about ‘Wrath Of Kings’
                    board game. As like other board game wiki website, users can access the web site and get the model
                    information they want. When there is wrong data in the unit information, they can edit them by
                    themselves. When new units have been published in the game, they can add the new units on the
                    website and even they can delete them as well.
                </p>
                <strong>Technologies Used: </strong>
                <p>
                    ASP.NET Framework, JSON, LINQ, Bootstrap, CSS 3, HTML 5
                </p>
                <a href="https://github.com/ProNovice/Comp229-Assign04">
                    <img class="icon-small" src="../Assets/images/icon_github.jpg" alt="github link">
                </a>
            </div>
        </div>
        <hr class="mb-5 mt-5" />

        <!-- Project 4 -->
        <div class="col-lg-12 row">
            <div class="col-lg-6">
                <h3><strong>GoTeacher</strong></h3>
                <h4>English Tutoring Web App</h4>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;GoTeacher is a Web Application that helps students learning English find
                    English tutors and make schedules to meet. There are members divided in Admin, Teacher, and Student.
                    Teachers can upload their information including their Resume file in their profile, and the students
                    can search registered teachers on the web app and book a time to meet them among the teacher’s
                    available time. After then, the students can write a comment under their teacher information with
                    their rating.
                </p>
                <strong>Technologies Used: </strong>
                <p>
                    ASP.NET Core MVC, AWS RDS SQL Server, AWS DynamoDB, Amazon S3, AWS Elastic Beanstalk, Bootstrap,
                    LINQ, CSS 3, HTML 5
                </p>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-box" href="../Assets/images/go_teacher_1.jpg">
                    <img alt="" class="portfolio-box img-fluid" src="../Assets/images/go_teacher_1.jpg">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="text-faded">Zoom in </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <hr class="mb-5 mt-5" />
    </div>
</div>


<% include ./partials/footer.ejs %>