<div class="text-white d-flex ">
  <!-- Container -->
  <div class="container container-fade-round text-white margin-top-50px">
    <div class="col-lg-4 mx-auto text-center">
      <!-- Profile Image -->
      <img alt="" class="img-profil" src="/assets/images/profil.jpg">
      <hr>
    </div>
    <div class="col-lg-8 mx-auto text-faded ">
      <br />
      <!-- Greeting Message -->
      <h1><strong>Hello, I'm Min :)</strong></h1>
      <h3>I'm a Web and Mobile app developer. </h3>
      <h4 class="mb-5">For a convenience of all the people, for a contribution to the development, and for the fun, so
        I
        write code.</h4>
      <!-- About page button -->
      <div class="text-center">
        <a class="btn btn-primary btn-xl" href="about">
          About Me</a>
      </div>
    </div>
  </div>
</div>